body{
    font-size: 1.5rem;
    box-sizing: border-box;
    font-family: sans-serif;
}
.columns{
    /* column-count: 4;
    column-width: 200px; */
    columns: 4 200px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}
.qoute{
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}